﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="GoverningStructure.aspx.cs" Inherits="PrinceModelMission.GoverningStructure" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <div class="article-type style1">


        <p class="article-type style1">
            Governing Structure
                       
        </p>
        <hr />
    </div>
<h3>Prince Model Mission</h3>

Govt of india  Regd no.- _____________________.
<br/>
<p style="color:black">Founder Secretary : ______________.</p>
<strong>Adress:</strong> Rejianagar - back side of Rejinagar Police Station, P.O.- Rejianagar, P.S.- Rejianagar, Dist.- Murshidabad (WEST BENGAL), 742189
</asp:Content>
