﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Index.aspx.cs" Inherits="PrinceModelMission.Index" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <style type="text/css">
        .ad
        {
            width: 100%;
        }
    </style>
    Latest news/ Notice
    <image src="/InstitueImages/KhadizaNews.jpeg" width="100%"></image>

    <div>  
        <asp:ScriptManager ID="ScriptManager1" runat="server">  
        </asp:ScriptManager>  
        <asp:UpdatePanel ID="UpdatePanel1" runat="server">  
            <ContentTemplate>  
                <asp:AdRotator CssClass="ad" ID="AdRotator1" runat="server" AdvertisementFile="~/Slider.xml"/>  
                <asp:Timer ID="Timer1" runat="server" Interval="9000">  
                </asp:Timer>  
            </ContentTemplate>  
        </asp:UpdatePanel>  
        </div> 
</asp:Content>
