﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="PrinceSocial.aspx.cs" Inherits="PrinceModelMission.PrinceSocial" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <asp:Panel ID="Panel1" runat="server">
    <iframe src="/InstituteFiles/KhadizaSocial.pdf" width="100%" height="900px"></iframe>
    </asp:Panel>
</asp:Content>
