﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Prospectus.aspx.cs" Inherits="PrinceModelMission.Prospectus" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

    <asp:Panel ID="Panel1" runat="server">
    <iframe src="/InstituteFiles/Prospectus-Cover.pdf" width="100%" height="900px"></iframe>
    </asp:Panel>
    <br />
    <div></div>

</asp:Content>
